# css-creating coding style
root = true

# 为所有文件设置风格
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 为 Markdown 文件保留行尾空格
[*.md]
trim_trailing_whitespace = false

＃ 匹配多种类型的文件（逗号前后不能有空格）
[*.{css,scss,sass}]
indent_size = 2

# 匹配多个指定的文件（逗号前后不能有空格）
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
